{% extends 'account/report_base2.html' %}
{% load static %}
{% load mathfilters %}
{% block title %}List of Patients{% endblock title %}
{% if myFilter %}
    {% block filter %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-5"></div>
            <div class="col-2 home text-center rounded">
                <span class="bg-dark"><h6 class="text-warning pt-2">Data-Filter</h6></span>
            </div>
            <div class="col-5"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 text-start border border-warning p-4">
                <div class="row">
                    <div class="col-2">
                        <span class="text-light">{{myFilter.form.patient__name.label_tag}}</span>
                    </div>
                    <div class="col-10">
                        {{myFilter.form.patient__name}}<span class="bg-warning text-dark">{{myFilter.form.patient__name.errors|striptags}}</span>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-warning btn-sm text-dark">Search</button>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    {% endblock filter %}
{% endif %}
{% block table %}
    <div class="container">
        <div class="row">
            <div class="col-5"></div>
            <div class="col-2 home text-center rounded">
                <span class="bg-dark"><h6 class="text-warning pt-2">Report</h6></span>
            </div>
            <div class="col-5"></div>
        </div>
    </div>
    <div class="container" style="height: auto; overflow: auto;">
        <div class="row">
            <table class="freeze-table" width="700px">
                <thead>
                    <tr class="text-center text-light border-top border-white">
                        <th style="min-width: 100px; width: 100px;" class="col-id-no fixed-header p-2">Patient's Name</th>
                        <th style="min-width: 100px; width: 100px;" class="col-name fixed-header p-2">Patient Category</th>
                        <th class="p-2" style="min-width: auto; width: auto;">Discount</th>
                        <th class="p-2" style="min-width: auto; width: auto;">Approved Package</th>
                        <th class="p-2" style="min-width: auto; width: auto;">Approval Date</th>
                        <th class="p-2" style="min-width: auto; width: auto;">Proposed Fractions</th>
                        <th class="p-2" style="min-width: auto; width: auto;">Remarks</th>
                        <th class="p-2" style="min-width: auto; width: auto;">Created On</th>
                        <th class="p-2" style="min-width: auto; width: auto;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rp in page_obj %}
                        <tr class="text-center text-light">
                            <td class="col-id-no text-dark text-start fw-bold p-2" scope="row">{{rp.patient.name}}</td>
                            <td class="col-name text-dark fw-bold p-2" scope="row">{{rp.patient_type.patient_type}}</td>
                            <td class="p-2">{{rp.discount}}</td>
                            <td class="p-2">{{rp.approved_package}}</td>
                            <td class="p-2">{{rp.approval_date}}</td>
                            <td class="p-2">{{rp.proposed_fractions}}</td>
                            <td class="p-2">
                                {% if rp.remarks %}
                                    <abbr title="{{rp.remarks}}"><i class="fas fa-comment text-warning"></i></abbr>
                                {% endif %}
                            </td>
                            <td class="p-2">{{rp.approved_package_date}}</td>
                            <td class="p-2">
                                <a href="{% url 'solapur:update_approved_package' rp.id %}"><abbr title="Edit"><i class="fas fa-pen-to-square text-warning"></i></abbr></a>&nbsp;&nbsp;
                                    <form action="{% url 'solapur:approved_package_delete' rp.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="submit" value="Delete" class="btn btn-secondary btn-sm text-warning">
                                    </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock table %}
{% block pagination %}
    <span>
        {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}" class="link-success"><=Previous</a>
        {% endif %}
        <span class="btn btn-success btn-sm">{{page_obj.number}}</span>
        {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}" class="link-success">Next=></a>
        {% endif %}
    </span>
{% endblock pagination %}