{% extends 'account/center_form_base2.html' %}
{% load static %}
{% block title %}Other Income Form{% endblock title %}
{% if messages %}
    {% block messages %}
        {% for message in messages %}
            <span {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</span>
        {% endfor %}
    {% endblock messages %}
{% endif %}
{% block mainform %}
    {{form.non_field_errors}}
        <div class="container mt-5">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 text-start border border-warning p-4">
                    <div class="row">
                        <div class="col-2">
                            <span class="text-light">{{form.particulars.label_tag}}</span>
                        </div>
                        <div class="col-4">
                            {{form.particulars}}<span class="bg-warning text-dark">{{form.particulars.errors|striptags}}</span>
                        </div>
                        <div class="col-2">
                            <span class="text-light">{{form.date.label_tag}}</span>
                        </div>
                        <div class="col-4">
                            {{form.date}}<span class="bg-warning text-dark">{{form.date.errors|striptags}}</span>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-2">
                            <span class="text-light">{{form.received_by.label_tag}}</span>
                        </div>
                        <div class="col-4">
                            {{form.received_by}}<span class="bg-warning text-dark">{{form.received_by.errors|striptags}}</span>
                        </div>
                        <div class="col-2">
                            <span class="text-light">{{form.amount.label_tag}}</span>
                        </div>
                        <div class="col-4">
                            {{form.amount}}<span class="bg-warning text-dark">{{form.amount.errors|striptags}}</span>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col text-center p-2">
                            <input class="submitbtn" type="submit" value="Save">
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
{% endblock mainform %}