<script>
    $(document).ready(function(){
        $('#id_patient').change(function () {
            var optionSelected = $(this).find("option:selected");
            var valueSelected  = optionSelected.val();
            var textSelected   = optionSelected.text();
            console.log('pt: ', textSelected);
            $('#id_patient_type').change(function(){
                var pttoptionSelected = $(this).find("option:selected");
                var pttvalueSelected  = pttoptionSelected.val();
                var ptttextSelected   = pttoptionSelected.text();
                console.log('ptt: ', ptttextSelected);
                var csr = $("input[name=csrfmiddlewaretoken]").val();
                console.log('hua');
                fra={patient:textSelected, patient_type:ptttextSelected, csrfmiddlewaretoken:csr}
                $.ajax({
                    url:"{% url 'dhule:pt_name_fn' %}",
                    method: "POST",
                    data: fra,
                    dataType: "json",
                    success: function(data){
                        console.log(data);
                        console.log(data.fra);
                        var fraction_num=data.fra;
                        console.log('fraction_num value: ', fraction_num);
                        var frn=document.getElementById('id_done_fractions');
                        frn.value=fraction_num+1;
                        console.log('Fraction number new value: ', frn.value);
                    }
                });
            });
        });
    });
</script>