{% extends 'account/center_form_base.html' %}
{% load static %}
{% block title %}Update Withdrawals{% endblock title %}
{% if messages %}
    {% block messages %}
        {% for message in messages %}
            <span {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</span>
        {% endfor %}
    {% endblock messages %}
{% endif %}
{% block mainform %}
    {{form.non_field_errors}}
        <div class="container mt-5">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 text-start border border-warning p-4">
                    <div class="row">
                        <div class="col-2">
                            <span class="text-light">{{form.depositor.label_tag}}</span>
                        </div>
                        <div class="col-4">
                            {{form.depositor}}<span class="bg-warning text-dark">{{form.depositor.errors|striptags}}</span>
                        </div>
                        <div class="col-2">
                            <span class="text-light">{{form.date.label_tag}}</span>
                        </div>
                        <div class="col-4">
                            {{form.date}}<span class="bg-warning text-dark">{{form.date.errors|striptags}}</span>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-2">
                            <span class="text-light">{{form.particulars.label_tag}}</span>
                        </div>
                        <div class="col-4">
                            {{form.particulars}}<span class="bg-warning text-dark">{{form.particulars.errors|striptags}}</span>
                        </div>
                        <div class="col-2">
                            <span class="text-light">{{form.amount.label_tag}}</span>
                        </div>
                        <div class="col-4">
                            {{form.amount}}<span class="bg-warning text-dark">{{form.amount.errors|striptags}}</span>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-2">
                            <span class="text-light">{{form.bill_number.label_tag}}</span>
                        </div>
                        <div class="col-4">
                            {{form.bill_number}}<span class="bg-warning text-dark">{{form.bill_number.errors|striptags}}</span>
                        </div>
                        <div class="col-2">
                            <span class="text-light">{{form.voucher_number.label_tag}}</span>
                        </div>
                        <div class="col-4">
                            {{form.voucher_number}}<span class="bg-warning text-dark">{{form.voucher_number.errors|striptags}}</span>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-2">
                            <span class="text-light">{{form.image.label_tag}}</span>
                        </div>
                        <div class="col-4">
                            {{form.image}}<span class="bg-warning text-dark">{{form.image.errors|striptags}}</span>
                        </div>
                        <div class="col-2">
                            <span class="text-light">{{form.docs.label_tag}}</span>
                        </div>
                        <div class="col-4">
                            {{form.docs}}<span class="bg-warning text-dark">{{form.docs.errors|striptags}}</span>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-6 text-end p-2">
                            <input class="btn btn-warning btn-sm text-dark" type="submit" value="Save">
                        </div>
                        <div class="col-6 text-start p-2">
                            <a href="{% url 'dhule:withdrawal_report' %}" class="btn btn-warning btn-sm text-dark">Cancel</a>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
{% endblock mainform %}